.clientlist {
  display: flex;
  width: 100%;
}

.container {
  flex: 6;
}

.table {
  margin: 3rem 6rem;
  padding: 2rem;

}



.tex {
  text-align: center;
  color: seagreen;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 5rem;
  font-weight: 600;
}

.tex:hover {
  cursor: pointer;
  color: blue;
}

.imgs {
  height: 40px;
  width: 40px;
}