.Sidebar {
  color: #ffff;
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.top {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.center {
  padding-left: 10px;
}

.icon {
  padding-right: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 10px;
  font-weight: bold;
  color: #999;
  margin-top: 15px;
}

ul li {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

li:hover {
  background-color: #999;
}

.bottom {
  padding-left: 10px;
  position: absolute;
  bottom: 0;
}

.bars {
  display: none;
}

@media screen and (max-width: 1200px) {
  .side {
    display: none;
  }
  .logo {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .Sidebar {
    position: fixed;
    z-index: 9;
    background-color: black;
    width: 55%;
    height: 100%;
    padding-right: 1rem;
  }
  .side {
    display: block;
  }
  .logo {
    display: flex;
  }
  .bars {
    display: flex;
    position: fixed;
    top: 2rem;
    z-index: 9;
    background: orange;
    padding: 10px;
    border-radius: 10px;
  }
}
