.SignUp {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
}
  
.signup {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
  
.signup h1 {
    color: orange;
}
  
.signup input {
    width: 100%;
    margin: 10px 0;
    padding: 5px 15px;
    height: 40px;
    border: 2px solid #C4C4C4;
    border-radius: 5px;
    color: #8A8A8A;
}
  
.signup input :focus{
    border: 2px solid orange;
    outline: none !important;
}
  
.signup-submit {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    margin: 30px 0;
    border-radius: 7px;
    border: 1px solid #D0D0D0;
    background: #D0D0D0;
    font-size: 1.1em;
    font-weight: 600;
    color: white;
}
  
.signup-active {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    margin: 30px 0;
    border-radius: 7px;
    border: 1px solid orange;
    background: orange;
    font-size: 1.1em;
    font-weight: 600;
    color: white;
}